<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4 class="post-meta">{{ page.summary }}</h4>
    <p class="post-summary">
      Posted by : {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><a href="{{site.author_website_url}}">{{ page.author }}</a></span> </span
      >{% endif %} at
      <time datetime="{{ page.date }}" itemprop="datePublished"
        >{{ page.date | date: "%b %-d, %Y" }}</time
      >
      <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fsohn0356-git.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
    </p>
    <span
      class="disqus-comment-count"
      data-disqus-identifier="{{ page.url }}"
    ></span>
    <div class="post-categories">
      {% if post %} {% assign categories = post.categories %} {% else %} {%
      assign categories = page.categories %} {% endif %} Category : {% for
      category in categories %}
      <a href="{{site.baseurl}}/blog/categories/{{category|slugize}}"
        >{{category}}</a
      >
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>
    <div class="post-tags">
      {% if post %} {% assign tags = post.tags %} {% else %} {%
      assign tags = page.tags %} {% endif %} Tag : {% for
      tag in tags %}
      <a href="{{site.baseurl}}/blog/tags/{{tag|slugize}}"
        >{{tag}}</a
      >
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>
  </div>

  <div class="card-body" itemprop="articleBody">
    <img
      class="card-img-top2"
      src="{{site.url}}{{site.baseurl}}{{ page.thumbnail }}"
      alt="{{ post.title }}"
         width="150px" height="150px"
    />
    <br />
    <br />
    {{ content }}
    <br />
    {%- include share_page.html -%}
  </div>
  <!--
  {%- if site.disqus_shortname -%}
  <div class="comments">
    {%- include blog_post_comments.html -%}
   </div>
    {%- endif -%}
-->
   <div id="disqus_thread"></div>
<div class="pagination">  
   {% if page.previous.url %}  
      <a href="{{page.previous.url}}" align="middle">&laquo; {{page.previous.title}}
      </a> 
  <a>　　　　　　　　　　</a>
   {% endif %}  
  <a href="{{site.author_website_url}}/blog">목록</a>
    <a>　　　　　　　　　　</a> 
   {% if page.next.url %}  
     <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>  
   {% endif %}  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8567892469623450"
     crossorigin="anonymous"></script>
  <!-- display_rect -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8567892469623450"
       data-ad-slot="2620467904"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

</article>
