<!--
  태그 클라우드
  https://github.com/jasondavies/d3-cloud
-->
<div id="vis"></div>
<form id="form" style="display:none;">
    <p style="position: absolute; right: 0; top: 0" id="status"></p>

    <div style="text-align: center">
      <div id="presets"></div>
      <div id="custom-area">
        <p><label for="text">Paste your text below!</label>
        <p><textarea id="text">

          {%  for tag in site.tags %}
            {% capture tag_name %}{{tag|first|slugize}}{% endcapture %}
            {% capture tag_size %}{{tag|last|size|times:5}}{% endcapture %}

            {% for i in (1..tag_size) %}
              {{ tag_name }} 
            {% endfor %}
            
          {% endfor %}
        </textarea>
        <button id="go" type="submit">Go!</button>
      </div>
    </div>

    <hr>

    <div style="float: right; text-align: right">
      <p><label for="max">Number of words:</label> <input type="number" value="250" min="1" id="max">
      <p><label for="per-line"><input type="checkbox" id="per-line"> One word per line</label>
      <!--<p><label for="colours">Colours:</label> <a href="#" id="random-palette">get random palette</a>-->
      <p><label>Download:</label>
        <button id="download-svg">SVG</button><!-- |
        <a id="download-png" href="#">PNG</a>-->
    </div>

    <div style="float: left">
      <p><label>Spiral:</label>
        <label for="archimedean"><input type="radio" name="spiral" id="archimedean" value="archimedean" checked="checked"> Archimedean</label>
        <label for="rectangular"><input type="radio" name="spiral" id="rectangular" value="rectangular"> Rectangular</label>
      <p><label for="scale">Scale:</label>
        <label for="scale-log"><input type="radio" name="scale" id="scale-log" value="log" checked="checked"> log n</label>
        <label for="scale-sqrt"><input type="radio" name="scale" id="scale-sqrt" value="sqrt"> √n</label>
        <label for="scale-linear"><input type="radio" name="scale" id="scale-linear" value="linear"> n</label>
      <p><label for="font">Font:</label> <input type="text" id="font" value="Impact">
    </div>

    <div id="angles">
      <p><input type="number" id="angle-count" value="5" min="1"> <label for="angle-count">orientations</label>
        <label for="angle-from">from</label> <input type="number" id="angle-from" value="-60" min="-90" max="90"> °
        <label for="angle-to">to</label> <input type="number" id="angle-to" value="60" min="-90" max="90"> °
    </div>

    <hr style="clear: both">

    <p style="float: right"><a href="about/">How the Word Cloud Generator Works</a>.
    <p style="float: left">Copyright &copy; <a href="http://www.jasondavies.com/">Jason Davies</a> | <a href="../privacy/">Privacy Policy</a>. The generated word clouds may be used for any purpose.

</form>

<script src="https://www.jasondavies.com/d3.min.js"></script>
<script src="https://www.jasondavies.com/wordcloud/cloud.min.js"></script>
<script>
// tag-cloud 크기를 스크린 사이즈에 따라 보정 18.08.11
function resizeTagCloud(){
  if(document.body.offsetWidth < 800){
    document.getElementById("vis").style.zoom = 0.8 * (document.body.offsetWidth/800)
  }
}
window.onload = window.onresize = resizeTagCloud;
</script>
