---
layout: default
---

<div class="row" id="blog-post-container">
  <div class="col-lg-8 offset-md-2">
    {%- include blog_post_article.html -%}
     {%- include blog_post_comments.html-%}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">About {{site.author}}</div>
      <div class="card-body">
        <p class="author_bio">{{ site.author_bio }}</p>
        {%- include github_star_button.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Categories</div>
      <div class="card-body text-dark">
        {%- include blog_categories.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Useful Links</div>
      <div class="card-body text-dark">
        {% for i in site.urls %}
        <li>
          <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
        </li>
        {% endfor %}
        <li>
          <a href="https://sohn0356-git.github.io/"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fsohn0356-git.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>
        </li>
      </div>
    </div>
  </div>
</div>
